.header {
    background-color: #213458;
    padding: 20px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-items: left;
}
.header .header-title {
    margin: 0 auto;
    font-size: 20px;
}
.header .linkGrid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.header .link:visited, .link:active, .link:link, .link:hover {
    text-decoration: none;
    color: #DDDDDD;
}
.header .link img {
    height: 50px;
}
.header .pages {
    margin-left: auto;
}

.header .pages a {
    margin-right: 20px;
}