section{
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.flex {
    display: flex;
}

.grid{
    display: grid;
}
.center {
    text-align: center;
}
.search-bar {
    margin: 30px;
    text-align: center;
}

.search-bar .searchBar{
    height: 45px;
    width: 300px;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #DDD;
    border-radius: 15px;
}

.search-bar button {
    height: 50px;
    width: 80px;
    background-color: blue;
    color: white;
    border-radius: 15px;
    border: 1px solid blue;
}

.content-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sidebar{
    background-color: #DDD;
    border-radius: 15px;
}

.search-label{
    padding-right: 10px;
}

.search-results{
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 250px 250px 250px;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px; */
}

.image{
    max-width: 100%;
    height: auto;

}

.filter-box{
    margin: 25px;
    padding: 15px;
    background-color: white;
    flex-direction: column;
    border-radius: 15px;
}

.filter-checkbox{
    justify-content: space-between;
}

.filter-checkbox div *{
    margin-right: 20px;
}
.filter-box input{
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #DDD;
}

.page-selector{
    display: flex;
    justify-content: space-between;
}

.prev-next{
    height: 50px;
    width: 100px;
}

.page-number{
    width: 50px;
    height: 50px;
}

.fas{
    size: 30px;
}